[submodule "src/lib/needs-ai-lib"]
	path = src/lib/needs-ai-lib
	url = https://github.com/Tw1ddle/needs-ai-lib
[submodule "needs-ai-editor"]
	path = needs-ai-editor
	url = https://github.com/Tw1ddle/needs-ai-editor
[submodule "src/lib/MacroTween"]
	path = src/lib/MacroTween
	url = https://github.com/JoeCreates/MacroTween
